<select required>
  <option disabled selected value>Choisir une option</option>
  <option value="choix-1">Choix 1</option>
  <option value="choix-2">Choix 2</option>
  <option value="choix-3">Choix 3</option>
</select>
