.button,
::file-selector-button {
  inline-size: fit-content;
  touch-action: manipulation;
  user-select: none;
}

* {
  &:focus-visible {
    outline: 2px solid magenta;
    outline-offset: 2px;
  }
}
