.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(60ch, calc(100% - 64px)) /* (1)! */
    1fr;
  grid-column-gap: 32px;
}
.wrapper > * {
  grid-column: 2; /* (2)! */
}
.full-bleed {
  width: 100%;
  grid-column: 1 / -1; /* (3)! */
}
