input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
input[type='file'] + label {
  font-size: 1.5rem;
  display: inline-block;
}

input[type='file']:focus + label,
input[type='file'] + label:hover {
  background-color: darkblue;
}
input[type='file'] + label {
  cursor: pointer; /* "hand" cursor */
}
input[type='file']:focus + label {
  outline: thin dotted;
  outline: -webkit-focus-ring-color auto 5px;
}
input[type='file']:focus-within + label {
  outline: thin dotted;
  outline: -webkit-focus-ring-color auto 5px;
}
input[type='file'] + label * {
  pointer-events: none;
}
