/* A theme for mastodon admins (or Stylus browser's extension). */

body.theme-default {
  /* You need to download/install that font, for instance here:
  https://befonts.com/interface-font-family.html */
  font-family: Interface, "mastodon-font-sans-serif",sans-serif;;
  /* With 500 chars, readability of paragraphs matters. */
  line-height: 1.5;
}

/* Makes the default theme background darker for `Followers only` messages
and even darker (black) for `Mentioned people only` messages. */
.theme-default .status__wrapper-private {
  background: midnightblue;
}
.theme-default .status__wrapper-direct {
  background: black;
}

/* More colors for @`mentions` and #`hashtags`. */
.theme-default .hashtag.mention.status-link {
  color: yellow;
}
.theme-default .u-url.mention.status-link {
  color: dodgerblue;
}

/* Less colors for `@`mentions and `#`hashtags. */
.theme-default .u-url.mention.status-link,
.theme-default .hashtag.mention.status-link {
  display: inline-block;
}
.theme-default .u-url.mention.status-link::first-letter,
.theme-default .hashtag.mention.status-link::first-letter {
  color: gray;
}

/* Experimental. */
.column {
  width: 385px;
}
