header {
  --nav-height: 100px;
  min-height: var(--nav-height);

  .navbar {
    --top-position: 0px;
    position:fixed;
    width:100%;
    top: var(--top-position);

    transition: top 0.6s; /* (1)! */

    &.hide:not(:focus-within) {
      --top-position: -100%;
    }
  }
}
