[role="tabpanels"] {
  display: flex;
}

[role="tabpanels"] section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

[role="tabpanels"] [role="tabpanel"] {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  margin-top: 2rem;
}

[role="tabpanels"] [type="radio"]:checked + [role="tabpanel"] {
  display: block; /* (1)! */
}
