<datalist id="places">
  <option value="Québec">
  <option value="Montréal">
  <option value="Ahuntsic (Montréal)">
</datalist>

<input list="places" type="text" name="city"
  pattern="Québec|Montréal|Ahuntsic \(Montréal\)"> <!-- (1)! -->
