<form action="/" method="post"
  enctype="multipart/form-data"><!-- (1)! -->
  <fieldset>
    <input
      type="file"
      name="files"
      id="files"
      accept="image/*"
      multiple
      data-max-size-kb="500"
    /><!-- (2)! -->
    <label for="files" class="btn-like"><!-- (3)! -->
      Click to upload image(s) or drag & drop below
    </label>
    <div role="alert" aria-live="polite" hidden></div><!-- (4)! -->
    <output></output><!-- (5)! -->
    <canvas>Drag & drop image here</canvas><!-- (6)! -->
  </fieldset>
  <input type="submit" name="submit" />
</form>
