<script id="search-stop-words" type="application/json">
  ["stop", "words"]  // https://github.com/stopwords-iso/stopwords-fr
</script>

<script>
  const stopWords = JSON.parse(
    document.getElementById('search-stop-words').textContent  // (1)
  )

  function matchSearch(needle, stack) {
    // Create a regex for each word from the needle
    const regMap = needle
      .toLowerCase()
      .split(' ')
      .filter((word) => word.length && !stopWords.includes(word))
      // See https://stackoverflow.com/a/37511463
      .map((word) => word.normalize("NFD").replace(/[\u0300-\u036f]/g, ""))
      .map((word) => new RegExp(word, 'i'))
    let matches = false
    for (let reg of regMap) {
      matches = stack.match(reg)
    }
    return matches
  }
</script>
