<hgroup role="group" aria-roledescription="Heading group">
  <p aria-roledescription="subtitle">Magazine of the Decade</p>
  <h1>THE MONTH</h1>
  <p aria-roledescription="subtitle">The Best of UK and Foreign Media</p>
</hgroup>
