<table>
  <caption>
    Frequency and average use of heading elements.
  </caption>
  <colgroup>
    <col id="table1-heading" />
    <col id="table1-occurrences" />
    <col id="table1-average" />
  </colgroup>
  <thead>
    <tr>
      <th><a href="#table1-heading">Heading</a></th>
      <th><a href="#table1-occurrences">Occurrences</a></th>
      <th><a href="#table1-average">Average per page</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>h1</code></td>
      <td>10,524,810</td>
      <td>1.66</td>
    </tr>
    <tr>
      <td><code>h2</code></td>
      <td>37,312,338</td>
      <td>5.88</td>
    </tr>
    <tr>
      <td><code>h3</code></td>
      <td>44,135,313</td>
      <td>6.96</td>
    </tr>
    <tr>
      <td><code>h4</code></td>
      <td>20,473,598</td>
      <td>3.23</td>
    </tr>
    <tr>
      <td><code>h5</code></td>
      <td>8,594,500</td>
      <td>1.36</td>
    </tr>
    <tr>
      <td><code>h6</code></td>
      <td>3,527,470</td>
      <td>0.56</td>
    </tr>
    <tr>
      <td><code>h7</code></td>
      <td>30,073</td>
      <td>0.005</td>
    </tr>
    <tr>
      <td><code>h8</code></td>
      <td>9,266</td>
      <td>0.0015</td>
    </tr>
  </tbody>
</table>
