<nav role="tablist"><!-- (1)! -->
  <!-- (2)! -->
  <button role="tab"
    id="tab-1"
    aria-selected="true"
    aria-controls="tabpanel-1"
    ><label for="input-1">Tab 1</label></button><!-- (3)! -->
  <button role="tab"
    id="tab-2"
    aria-selected="false"
    aria-controls="tabpanel-2"
    ><label for="input-2">Tab 2</label></button>
</nav>
<div role="tabpanels">
  <section>
    <input hidden="hidden" type="radio" name="tabs"
      id="input-1" checked="checked" />
    <div role="tabpanel"
      id="tabpanel-1"
      aria-labelledby="tab-1">
      <p>Content 1</p>
    </div>
    <input hidden="hidden" type="radio" name="tabs"
      id="input-2" />
    <div role="tabpanel"
      id="tabpanel-2"
      aria-labelledby="tab-2">
      <p>Content 2</p>
    </div>
  </section>
</div>
